// fonts
@import url("./font.css");

// global settings
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Nexa', sans-serif;

    &.active{
        overflow: hidden;
    }
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a, button, input, textarea{
    font-family: 'Nexa', sans-serif;
}

@import 'navigation';
@import 'footer';
@import 'homepage';
@import 'podejscie';
@import 'kontakt';
@import 'formularz';
@import 'wycena';